/*
 * Open Sans Hebrew (Hebrew) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 300;
  src: url(../ea/opensanshebrew/v3/OpenSansHebrew-LightItalic-6.eot);
  src: url(../ea/opensanshebrew/v3/OpenSansHebrew-LightItalic-7.eot) format('embedded-opentype'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-LightItalic-3.woff2) format('woff2'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-LightItalic-3.woff) format('woff'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-LightItalic-3.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 300;
  src: url(../ea/opensanshebrew/v3/OpenSansHebrew-Light-6.eot);
  src: url(../ea/opensanshebrew/v3/OpenSansHebrew-Light-7.eot) format('embedded-opentype'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-Light-3.woff2) format('woff2'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-Light-3.woff) format('woff'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-Light-3.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 400;
  src: url(../ea/opensanshebrew/v3/OpenSansHebrew-Italic-6.eot);
  src: url(../ea/opensanshebrew/v3/OpenSansHebrew-Italic-7.eot) format('embedded-opentype'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-Italic-3.woff2) format('woff2'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-Italic-3.woff) format('woff'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-Italic-3.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  src: url(../ea/opensanshebrew/v3/OpenSansHebrew-Regular-6.eot);
  src: url(../ea/opensanshebrew/v3/OpenSansHebrew-Regular-7.eot) format('embedded-opentype'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-Regular-3.woff2) format('woff2'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-Regular-3.woff) format('woff'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-Regular-3.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 700;
  src: url(../ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic-6.eot);
  src: url(../ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic-7.eot) format('embedded-opentype'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic-3.woff2) format('woff2'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic-3.woff) format('woff'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic-3.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 700;
  src: url(../ea/opensanshebrew/v3/OpenSansHebrew-Bold-6.eot);
  src: url(../ea/opensanshebrew/v3/OpenSansHebrew-Bold-7.eot) format('embedded-opentype'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-Bold-3.woff2) format('woff2'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-Bold-3.woff) format('woff'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-Bold-3.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 800;
  src: url(../ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic-6.eot);
  src: url(../ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic-7.eot) format('embedded-opentype'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic-3.woff2) format('woff2'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic-3.woff) format('woff'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic-3.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 800;
  src: url(../ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold-6.eot);
  src: url(../ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold-7.eot) format('embedded-opentype'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold-3.woff2) format('woff2'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold-3.woff) format('woff'),
       url(../ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold-3.ttf) format('truetype');
}
